*{
    box-sizing: border-box;
}

:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

body{
    width:1024px; 
    border: 1px solid #707070;
}

.wrapper1,.wrapper2, .wrapper3{
    display: flex;
    margin: 30px;
}

article{
    float:left;
}

.inwrapper1, .inwrapper2, .inwrapper3{
    padding: 20px;
    margin: 10px;
}

.marron,aside{
    background-color:#37201A;
    color: #7A503E;
}

.pastel{
    color: #C27159;
}

aside{
    background-color: #251611;
}

footer{
    background-color: #180E0C;
    color: #7A503E;
}

.media{
    width: 180px;
}

.pequena{
    width: 80px;
    height: 80px;
}

.top{
    width:100%;
    height:350px;
}

#menu{
    display: flex;
    background-color: #180E0C;
    justify-content: space-between;
}

#menu div{
    color: white;
    font-size: 20px;
    align-self: center;
}

h1{
    font-size: 50px;
    padding-left: 55px;
}

#menu div a{
    color: white;
    padding: 15px;
}

#menu a:hover{
    font-weight: bold;
    background: rgb(74, 150, 87);
    border-radius: 5px;
}
