*{
    box-sizing: border-box;
}

:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{ 
    margin: 0%;
}

.wrapper1, .wrapper2 , .wrapper3{
    display: flex;
}

.wrapper2{
    margin: 80px 10px;
}

.inwrapper1{
    padding: 20px;
    margin: 80px 10px;
    width: 100%;
}

.inwrapper2_C1, .inwrapper2_C2 {
    width: 100%;
    padding: 30px;
}

.inwrapper2_C3{
    padding: 30px;
}

.art_coluna1e2{
    display: flex;
    width: 100%;
}

.inwrapper3_C1, .inwrapper3_C2{
    padding: 40px;
    margin: 10px;
}

.inwrapper3_C1{
    width: 60%;
}

.inwrapper3_C2{
    width: 40%;
}

.marron,aside{
    background-color:#37201A;
    color: #7A503E;
}

a{
    color: #7A503E;
}

li{
    list-style: none;
    padding: 10px 0px;
}

.pastel{
    color: #C27159;
}

aside{
    background-color: #251611;
}

footer{
    background-color: #180E0C;
    color: #7A503E;
    padding: 20px;
    align-self: center;
    text-align: center
}

.pequena{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 0;
}

.media{
    width: 100%;
}

.imagem_pez{
    width: 100%;
}

.top{
    width:100%;
}

#menu{
    display: flex;
    background-color: #180E0C;
    justify-content: space-between;
    padding-right: 40px;
}

#menu div{
    color: white;
    font-size: 20px;
    align-self: center;
    padding: 25px;
}

#menu div a{
    display: inline-block;
    color: white;
    padding: 0.2em 1em;
    text-decoration: none;
}

#menu a:hover{
    text-decoration:none;
    background: rgb(74, 150, 87);
    border-radius: 0.2em;
    
}

h1{
    font-size: 45px;
    padding-left: 20px;
    font-weight: 400;
}
